.list{
  padding: 15px;
}

.wifi__point{
  border-bottom: 2px black solid;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  padding-left: 30px;
}
.list:first-child {
  padding-top: 0;
}
.list:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.point__not_display{
  display: none;
}
