<form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <label>
    <span>Name:</span>
    <input
      type="text"
      placeholder="enter name"
      formControlName="name">
  </label>
  <div class="error" *ngIf="form.controls.name.touched && form.controls.name.errors?.required">
    Name required
  </div>
  <div class="error" *ngIf="form.controls.name.touched && checkNewName(form.controls.name.value)">
    Point with this name already exists
  </div>
  <label>
    <span>Login:</span>
    <input
      type="text"
      placeholder="enter login"
      formControlName="login">
  </label>
  <div class="error" *ngIf="form.controls.login.touched && form.controls.login.errors?.required">
    Login required
  </div>
  <label>
    <span>Password:</span>
    <input
      type="password"
      placeholder="enter password"
      formControlName="password">
  </label>
  <div class="error" *ngIf="form.controls.password.touched && form.controls.password.errors?.required">
    Password required
  </div>
  <label>
    <span>Address:</span>
    <input
      type="text"
      placeholder="enter address"
      formControlName="address">
  </label>
  <button type="submit" [disabled]="form.invalid">Add new point</button>
</form>

<pre><b>f.value: </b>{{form.value | json}}</pre>
